<div class="container">
  <h1>About Zillow Compare</h1>
  <div class="well">
    <h3>Where is this information coming from?</h3>
    <p>All of the home information on this site is pulled from the <a href="http://www.zillow.com/howto/api/APIOverview.htm" target="_blank">Zillow public API</a></p>
    <h3>Prices and Images</h3>
    <p>Some of Zillows information is protected. Price and image often fall under this category.</p>
    <h3>Open Source</h3>
    <p>All of the code for this site, including the backend, is available on <a href="https://github.com/dfb5865/ZillowCompare" target="_blank">github</a>.</p>
  </div>


</div>